body{
    font-family: 'Open Sans', sans-serif;
    margin:0;

}
.container{
    width: 300px;
    text-align: center;
    margin-left: auto;
}
.splash{
    text-align: center;
    width: 20%;
    

}
.page-title{
    font-weight: 700;
    font-size: 40px;
    
}
.page-subtitle{
    font-style: italic;

}
.splash p{
    padding: 0;
}